.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px;
	margin: 5px 0;
	height: 3rem;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(82, 82, 82, 0.5);
}

.tools button {
	border: none;
	background: none;
	padding: 10px 10px;
	margin-left: 5px;
}

.tools button i {
	transition: color .3s;
}

.tools button:hover > i {
	color: #045de9;
}

.tools button i {
	font-size: 1rem;
}

@media (min-width: 400px) {
	.task {
		padding: 0px 10px;
		height: 3rem;
	}

	.tools button {
		padding: 10px 13px;
		margin-left: 5px;
	}

	.tools button i {
		font-size: 1.1rem;
	}
}
